body {
  background-color: #000;
  display: flex;
  justify-content: center;
}

.gameArea {
  position: relative;
  background-color: #fff;
  width: 300px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* flex-basis: 50%; */
}

.rectangle {
  position: absolute;
  background-color: blue;
  width: 50px;
  height: 100px;
}
